Repository hahdookin/cs490, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hahdookin, @aorps, @gabormond

.github/CODEOWNERS:

# Default Owners
*   @hahdookin @aorps @gabormond


# Front-end Owners
/front-end/ @hahdookin

# Middleware Owners
/middleware/ @aorps

# Back-end Owners
/back-end/ @gabormond

# SRC: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

infra fixup
  infra/goweb.conf
Owners: @hahdookin, @aorps, @gabormond

server updates + autograde runs error fix
  middleware/server.go
  middleware/util/autograde.go
Owners: @aorps

cors plz plz why do you send me your toughest battles
  middleware/util/util.go
Owners: @aorps

cors v2 trial
  middleware/util/util.go
Owners: @aorps

remove runs + change port + headers
  middleware/server.go
  middleware/util/autograde.go
  middleware/util/util.go
Owners: @aorps

cors solved?
  README.md
  infra/nginx.conf
  middleware/test.js
  middleware/test/cors-test.js
  middleware/util/autograde.go
  middleware/util/util.go
Owners: @hahdookin, @aorps, @gabormond

no referrer policy
  infra/nginx.conf
  middleware/test.js
  middleware/util/autograde.go
  middleware/util/util.go
Owners: @hahdookin, @aorps, @gabormond

Implement one question per page and test case syntax hl
  front-end/src/components/AnswerBox.vue
  front-end/src/components/QuestionDescription.vue
  front-end/src/views/Exam.vue
Owners: @hahdookin

Implement question creation search and new form validation
  front-end/src/components/QuestionCreationForm.vue
  front-end/src/views/QuestionCreator.vue
Owners: @hahdookin

code add
  middleware/util/autograde.go
Owners: @aorps

added comments to comment preprocessing
  middleware/util/autograde.go
Owners: @aorps

Phasing out Login page
  middleware/autograde/autograde.go
  middleware/server.go
Owners: @aorps

Mod split util + autograde
  middleware/autograde/autograde.go
  middleware/server.go
Owners: @aorps

added constraint
  middleware/Makefile
  middleware/autograde/autograde.go
  middleware/autograde/autograde_test.go
  middleware/server.go
  middleware/util/BackendTypes.go
  middleware/util/httpJazz.go
Owners: @aorps

code processing + golang unit test
  middleware/autograde/autograde.go
  middleware/autograde/autograde_test.go
Owners: @aorps

util shortify + working comment preprocess
  middleware/autograde/autograde.go
  middleware/server.go
  middleware/util/util.go
Owners: @aorps

DONE
  middleware/autograde/autograde.go
Owners: @aorps

Fixed regex and replace for string line comment
  middleware/autograde/autograde.go
  middleware/server.go
Owners: @aorps

new endpoint
  middleware/server.go
Owners: @aorps

new endpoint at fcors
  middleware/server.go
Owners: @aorps

actual endpoint
  middleware/server.go
Owners: @aorps

Implement use case 1 (exam creator question filter)
  front-end/src/components/ExamCreatorItem.vue
  front-end/src/views/ExamCreator.vue
Owners: @hahdookin

styling changes and more fetch utils
  front-end/src/components/PointTable.vue
  front-end/src/database.js
  front-end/src/views/QuestionCreator.vue
  front-end/src/views/ReviewExam.vue
  front-end/src/views/ViewExam.vue
Owners: @hahdookin

util add func + autograde edits
  middleware/autograde/autograde.go
  middleware/util/util.go
Owners: @aorps

implement final use case
  front-end/src/components/PointTable.vue
  front-end/src/components/QuestionDescription.vue
  front-end/src/views/Exam.vue
  front-end/src/views/ReviewExam.vue
  front-end/src/views/ViewExam.vue
Owners: @hahdookin

autograde return empty/null for code that can't parse out a def x(
  middleware/autograde/autograde.go
  middleware/util/util.go
Owners: @aorps

constraints from backend functionality
  middleware/autograde/autograde.go
  middleware/server.go
  middleware/util/httpJazz.go
Owners: @aorps

Streamlined Code, Deleted Unused Functionality and redundant code
  middleware/autograde/autograde.go
  middleware/server.go
  middleware/util/util.go
Owners: @aorps

Changed function names on server + eliminated needless response writer in autograde
  middleware/autograde/autograde.go
  middleware/server.go
Owners: @aorps

updated /readme
  README.md
Owners: @hahdookin, @aorps, @gabormond

change globals and styles
  front-end/src/App.vue
  front-end/src/database.js
Owners: @hahdookin

removed bullet points
  front-end/src/views/StudentDashboard.vue
  front-end/src/views/TeacherDashboard.vue
Owners: @hahdookin

Implement minimap and other features
  front-end/src/views/Exam.vue
  front-end/src/views/ReviewExam.vue
  front-end/src/views/ViewGraded.vue
Owners: @hahdookin

implement filter for question lists
  front-end/src/components/ExamCreatorItem.vue
  front-end/src/components/QuestionCreationForm.vue
  front-end/src/views/ExamCreator.vue
  front-end/src/views/QuestionCreator.vue
Owners: @hahdookin

implement various features
  front-end/dist/index.html
  front-end/dist/js/chunk-vendors.d6a9dc62.js
  front-end/dist/js/chunk-vendors.d6a9dc62.js.map
  front-end/src/components/PointTable.vue
  front-end/src/components/QuestionDescription.vue
  front-end/src/views/ViewExam.vue
Owners: @hahdookin

Implement constraint points
  front-end/src/App.vue
  front-end/src/components/PointTable.vue
  front-end/src/views/Exam.vue
  front-end/src/views/ReviewExam.vue
  front-end/src/views/ViewExam.vue
  front-end/src/views/ViewGraded.vue
Owners: @hahdookin

fixed point table and minor detail fixes
  front-end/src/App.vue
  front-end/src/components/PointTable.vue
  front-end/src/views/ExamCreator.vue
  front-end/src/views/QuestionCreator.vue
  front-end/src/views/ReviewExam.vue
  front-end/src/views/ViewGraded.vue
Owners: @hahdookin

Update README.md
  README.md
Owners: @hahdookin, @aorps, @gabormond

final changes
  front-end/dist/index.html
  front-end/src/App.vue
  front-end/src/components/PointTable.vue
Owners: @hahdookin
